.playlist-dialogue {
  position: fixed;
  z-index: 1004;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40vw;
  padding: 1em;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  animation: playlist-dialogue-entry-animation 0.2s linear;
}
@keyframes playlist-dialogue-entry-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.playlist-dialogue-exit {
  animation: playlist-dialogue-exit-animation 0.2s linear;
}
@keyframes playlist-dialogue-exit-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.playlistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(236, 22, 127);
  margin: 10px 0px;
  color: white;
  transition: all 0.2s linear;
  cursor: pointer;
}

.playlistItemText {
  flex: 2;
  padding: 1em;
}

.playlistItemText:hover,
.playlistItemAddBtn:hover {
  transform: scale(0.99);
  background-color: #d71372;
}

.playlistItemAddBtn {
  padding: 0.5em;
}

.playlistItemAddBtn span {
  background: white;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5em;
}

.playlistFormInput {
  padding: 1em;
  border-radius: 10px;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid black;
  width: 100%;
}

.currPlaylistDialogue {
  animation: curr-playlist-dialogue-entry-animation 0.2s linear;
  display: flex;
  flex-direction: column;
}
@keyframes curr-playlist-dialogue-entry-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.curr-playlist-dialogue-exit {
  animation: curr-playlist-dialogue-exit-animation 0.2s linear;
}
@keyframes curr-playlist-dialogue-exit-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
