.fullscreen-song-container {
  flex: 1;
  width: 100%;
  overflow: hidden;
  color: white;
}
.fullscreen-song-subcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1000;
  top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  animation: fullscreen-entry-anime 0.2s linear;
}
@keyframes fullscreen-entry-anime {
  0% {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    top: 100%;
    transform: scale(0);
  }
  100% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
    transform: scale(1);
  }
}

.fullscreen-backdrop {
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(80px);
  background: #0000004a;
}

.fullscreen-main-container {
  display: flex;
}

.fullscreen-songArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
  position: relative;
}

.song-image-container {
  height: 35vh;
  width: 35vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}

.song-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fullscreen-queueArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  flex-shrink: 0;
  overflow: auto;
}

.flex-display {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin: 10px 0;
}

.add-playlist-icon-container {
  font-size: 1.5rem;
  margin: 0 1em;
}
.add-playlist-icon-container svg {
  cursor: pointer;
}

.like-share-container {
  font-size: 1.5rem;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.like-share-container svg {
  cursor: pointer;
}

.song-title {
  text-align: center;
  margin: 5px 0;
}

.song-info {
  font-size: 1rem;
  margin-bottom: 5px;
}

.queue-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-queue-icon {
  cursor: pointer;
}

.queue-content {
  overflow: auto;
}
