.artist-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.artist-card {
  text-align: center;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.artist-card:hover {
  background-color: rgb(255 255 255 / 15%);
  transform: scale(0.9);
}

.artist-card-image-container {
  height: 100px;
  width: 100%;
  text-align: center;
}
.artist-card-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.artist-card-name {
  overflow: auto;
}

.artist-sec-2 {
  background-image: url(../../assets/images/miscellaneous/bg2.webp);
  /* background-color: whitesmoke; */
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.artist-sec-2-subsec {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
  z-index: 2;
}

.artist-sec-2-subsec-image-container {
  text-align: center;
  /* background-color: yellow; */
  flex: 1;
}

.artist-sec-2-subsec-image-container img {
  height: 90vh;
  object-fit: contain;
}

.artist-sec-2-subsec-text {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  padding: 1em;
  /* background-color: red; */
  flex: 1;
}

.artist-sec-2-subsec-2 {
  background-image: url(../../assets/images/miscellaneous/bg3.webp);
  /* background-color: wheat; */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
  padding-top: 25%;
}
